<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALLOW_AUDIT_MODE</key>
	<false/>
	<key>ALLOW_PREFERENCES</key>
	<true/>
	<key>ALLOW_PUDDING</key>
	<true/>
	<key>FullScreenMode</key>
	<string>0</string>
	<key>DEVICES</key>
	<array>
		<dict>
			<key>BAUD_RATE</key>
			<real>115200</real>
			<key>CLASSNAME</key>
			<string>A7Device</string>
			<key>CTL_TYPE</key>
			<string>UART</string>
			<key>UARTPATH</key>
			<string>APPLE</string>
		</dict>
		<dict>
			<key>BAUD_RATE</key>
			<integer>115200</integer>
			<key>CLASSNAME</key>
			<string>A7RelayBox</string>
			<key>CTL_TYPE</key>
			<string>UART</string>
			<key>UARTPATH</key>
			<string></string>
		</dict>
		<dict>
			<key>BAUD_RATE</key>
			<real>115200</real>
			<key>CLASSNAME</key>
			<string>A7STM8</string>
			<key>CTL_TYPE</key>
			<string>UART</string>
			<key>UARTPATH</key>
			<string></string>
		</dict>
	</array>
	<key>EQUIPMENTS</key>
	<array>
		<dict>
			<key>BAUD_RATE</key>
			<real>115200</real>
			<key>CLASSNAME</key>
			<string>Device</string>
			<key>CTL_TYPE</key>
			<string>UART</string>
			<key>FLOW_CTL</key>
			<false/>
			<key>PARITY_CTL</key>
			<false/>
			<key>PATH</key>
			<string></string>
			<key>USEDFOR</key>
			<string>DeviceUART</string>
		</dict>
		<dict>
			<key>BAUD_RATE</key>
			<real>115200</real>
			<key>CLASSNAME</key>
			<string>RelayBox</string>
			<key>CTL_TYPE</key>
			<string>UART</string>
			<key>FLOW_CTL</key>
			<false/>
			<key>PARITY_CTL</key>
			<false/>
			<key>PATH</key>
			<string></string>
			<key>USEDFOR</key>
			<string>Relay</string>
		</dict>
		<dict>
			<key>BAUD_RATE</key>
			<real>9600</real>
			<key>CLASSNAME</key>
			<string>Fixture</string>
			<key>CTL_TYPE</key>
			<string>UART</string>
			<key>FLOW_CTL</key>
			<false/>
			<key>PARITY_CTL</key>
			<false/>
			<key>PATH</key>
			<string></string>
			<key>USEDFOR</key>
			<string>FixtureUART</string>
		</dict>
		<dict>
			<key>CLASSNAME</key>
			<string>Bobcat</string>
			<key>CTL_TYPE</key>
			<string>HTTP</string>
			<key>SERVER_URL</key>
			<string>http://10.159.254.145/FIS/MAY/BobcatWeb/Bobcat_B238.aspx</string>
			<key>USEDFOR</key>
			<string>BOBCAT</string>
		</dict>
		<dict>
			<key>CLASSNAME</key>
			<string>USB_HID</string>
			<key>CTL_TYPE</key>
			<string>usb</string>
			<key>Product_ID</key>
			<string>0x5057</string>
			<key>USEDFOR</key>
			<string>USBHID</string>
			<key>Vendor_ID</key>
			<string>0x0483</string>
		</dict>
		<dict>
			<key>Accept</key>
			<false/>
			<key>CLASSNAME</key>
			<string>UDP_Server</string>
			<key>CTL_TYPE</key>
			<string>Server</string>
			<key>Port</key>
			<integer>0</integer>
			<key>USEDFOR</key>
			<string>udp_Server</string>
		</dict>
		<dict>
			<key>CLASSNAME</key>
			<string>UDP_Client</string>
			<key>CTL_TYPE</key>
			<string>Client</string>
			<key>Connect</key>
			<false/>
			<key>IPAddress</key>
			<string>127.0.0.1</string>
			<key>Port</key>
			<real>1024</real>
			<key>USEDFOR</key>
			<string>udp_Client</string>
		</dict>
		<dict>
			<key>Accept</key>
			<true/>
			<key>CLASSNAME</key>
			<string>Socket_Server</string>
			<key>CTL_TYPE</key>
			<string>Server</string>
			<key>Port</key>
			<real>1024</real>
			<key>USEDFOR</key>
			<string>tcp_Server</string>
		</dict>
		<dict>
			<key>CLASSNAME</key>
			<string>Socket_Client</string>
			<key>CTL_TYPE</key>
			<string>Client</string>
			<key>Connect</key>
			<false/>
			<key>IPAddress</key>
			<string>127.0.0.1</string>
			<key>Port</key>
			<real>1024</real>
			<key>USEDFOR</key>
			<string>tcp_Client</string>
		</dict>
		<dict>
			<key>CLASSNAME</key>
			<string>DFU</string>
			<key>CTL_TYPE</key>
			<string>get_DFU</string>
			<key>ProductID</key>
			<integer>4647</integer>
			<key>ProductName</key>
			<string>Apple Mobile Device (DFU Mode)</string>
			<key>USEDFOR</key>
			<string>mode_DFU</string>
		</dict>
		<dict>
			<key>CLASSNAME</key>
			<string>UDID</string>
			<key>CTL_TYPE</key>
			<string>get_UDID</string>
			<key>ProductID</key>
			<real>4778</real>
			<key>ProductName</key>
			<string>iPod</string>
			<key>USEDFOR</key>
			<string>mode_UDID</string>
		</dict>
		<dict>
			<key>CLASSNAME</key>
			<string>Meter34401A</string>
			<key>CTL_TYPE</key>
			<string>GPIB</string>
			<key>GPIBINDEX</key>
			<integer>7</integer>
			<key>TYPE</key>
			<string>DMM</string>
			<key>USEDFOR</key>
			<string>A34401</string>
		</dict>
		<dict>
			<key>CLASSNAME</key>
			<string>Meter34465A_Client</string>
			<key>CTL_TYPE</key>
			<string>Client</string>
			<key>Connect</key>
			<true/>
			<key>IPAddress</key>
			<string>169.254.4.61</string>
			<key>Port</key>
			<integer>5025</integer>
			<key>USEDFOR</key>
			<string>Mode_Client</string>
		</dict>
		<dict>
			<key>BAUD_RATE</key>
			<real>115200</real>
			<key>CLASSNAME</key>
			<string>Meter34465A_USB</string>
			<key>CTL_TYPE</key>
			<string>VISAUSB</string>
			<key>PATH</key>
			<string></string>
			<key>USEDFOR</key>
			<string>meter34465A_USB</string>
		</dict>
		<dict>
			<key>CLASSNAME</key>
			<string>PWR3615GW</string>
			<key>CTL_TYPE</key>
			<string>GPIB</string>
			<key>GPIBINDEX</key>
			<integer>21</integer>
			<key>USEDFOR</key>
			<string>PWR3615</string>
		</dict>
		<dict>
			<key>CLASSNAME</key>
			<string>PWR3631</string>
			<key>CTL_TYPE</key>
			<string>GPIB</string>
			<key>GPIBINDEX</key>
			<integer>0</integer>
			<key>USEDFOR</key>
			<string>PWR3631</string>
		</dict>
		<dict>
			<key>CLASSNAME</key>
			<string>Counter53131A</string>
			<key>CTL_TYPE</key>
			<string>GPIB</string>
			<key>GPIBINDEX</key>
			<integer>0</integer>
			<key>TYPE</key>
			<string>UCT</string>
			<key>USEDFOR</key>
			<string>A53131</string>
		</dict>
		<dict>
			<key>CLASSNAME</key>
			<string>MeterE4980AL_USB</string>
			<key>CTL_TYPE</key>
			<string>VISAUSB</string>
			<key>PATH</key>
			<string>USB0::0x0957::0x0909::MY54202748::INSTR</string>
			<key>USEDFOR</key>
			<string>LRCmeterUSB</string>
		</dict>
		<dict>
			<key>CLASSNAME</key>
			<string>Eload_PEL_3021_USB</string>
			<key>CTL_TYPE</key>
			<string>VISAUSB</string>
			<key>PATH</key>
			<string>USB0::0x2184::0x000D::GEO181430::1::RAW</string>
			<key>USEDFOR</key>
			<string>Eload_ByUSB</string>
		</dict>
		<dict>
			<key>CLASSNAME</key>
			<string>Eload_PEL_3021</string>
			<key>CTL_TYPE</key>
			<string>GPIB</string>
			<key>GPIBINDEX</key>
			<integer>9</integer>
			<key>USEDFOR</key>
			<string>Eload_ByGPIB</string>
			<key>TYPE</key>
			<string>ELOAD</string>
		</dict>
		<dict>
			<key>CLASSNAME</key>
			<string>Tektronix_DPO4104BL_USB</string>
			<key>CTL_TYPE</key>
			<string>VISAUSB</string>
			<key>PATH</key>
			<string></string>
			<key>USEDFOR</key>
			<string>Scope_ByUSB</string>
		</dict>
		<dict>
			<key>CLASSNAME</key>
			<string>Stream</string>
			<key>CTL_TYPE</key>
			<string>UART</string>
			<key>PATH</key>
			<string></string>
			<key>USEDFOR</key>
			<string>StreamDev</string>
		</dict>
	</array>
	<key>MY_CB</key>
	<string>-1</string>
	<key>PRODUCT</key>
	<string>Project Number</string>
	<key>STATION_NAME</key>
	<string>all source code </string>
	<key>TESTS</key>
	<dict>
		<key>TEST1</key>
		<dict>
			<key>name</key>
			<string>CheckPudding</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST2</key>
		<dict>
			<key>name</key>
			<string>EquipLogDemo</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST3</key>
		<dict>
			<key>name</key>
			<string>EnterDiag</string>
			<key>skip</key>
			<true/>
		</dict>
		<key>TEST4</key>
		<dict>
			<key>name</key>
			<string>RTC_Set</string>
			<key>skip</key>
			<true/>
		</dict>
		<key>TEST5</key>
		<dict>
			<key>name</key>
			<string>CheckControlBit</string>
		</dict>
		<key>TEST6</key>
		<dict>
			<key>name</key>
			<string>SetCB_I</string>
		</dict>
		<key>TEST7</key>
		<dict>
			<key>command</key>
			<string>teaBag</string>
			<key>max</key>
			<integer>100</integer>
			<key>min</key>
			<integer>-1</integer>
			<key>name</key>
			<string>DEMO</string>
			<key>skip</key>
			<true/>
			<key>unit</key>
			<string>mV</string>
			<key>validator</key>
			<string>PASS</string>
		</dict>
		<key>TEST8</key>
		<dict>
			<key>name</key>
			<string>SetCB</string>
		</dict>
		<key>TEST9</key>
		<dict>
			<key>name</key>
			<string>finishWorkHandler</string>
			<key>skip</key>
			<false/>
		</dict>
	</dict>
	<key>TEST_UPPER_LIMIT</key>
	<real>3000</real>
	<key>UOP_PASSWORD</key>
	<string>12345</string>
</dict>
</plist>
