<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALLOW_AUDIT_MODE</key>
	<true/>
	<key>ALLOW_PREFERENCES</key>
	<true/>
	<key>ALLOW_PUDDING</key>
	<false/>
	<key>EQUIPMENTS</key>
	<array>
		<dict>
			<key>BAUD_RATE</key>
			<real>9600</real>
			<key>CLASSNAME</key>
			<string>Fixture</string>
			<key>CTL_TYPE</key>
			<string>UART</string>
			<key>FLOW_CTL</key>
			<false/>
			<key>PARITY_CTL</key>
			<false/>
			<key>PATH</key>
			<string></string>
			<key>USEDFOR</key>
			<string>fixture</string>
		</dict>
		<dict>
			<key>BAUD_RATE</key>
			<real>115200</real>
			<key>CLASSNAME</key>
			<string>Device</string>
			<key>CTL_TYPE</key>
			<string>UART</string>
			<key>FLOW_CTL</key>
			<false/>
			<key>PARITY_CTL</key>
			<false/>
			<key>PATH</key>
			<string></string>
			<key>USEDFOR</key>
			<string>THRD1_DevUART</string>
		</dict>
		<dict>
			<key>BAUD_RATE</key>
			<real>115200</real>
			<key>CLASSNAME</key>
			<string>Device</string>
			<key>CTL_TYPE</key>
			<string>UART</string>
			<key>FLOW_CTL</key>
			<false/>
			<key>PARITY_CTL</key>
			<false/>
			<key>PATH</key>
			<string></string>
			<key>USEDFOR</key>
			<string>THRD2_DevUART</string>
		</dict>
		<dict>
			<key>BAUD_RATE</key>
			<real>115200</real>
			<key>CLASSNAME</key>
			<string>Device</string>
			<key>CTL_TYPE</key>
			<string>UART</string>
			<key>FLOW_CTL</key>
			<false/>
			<key>PARITY_CTL</key>
			<false/>
			<key>PATH</key>
			<string></string>
			<key>USEDFOR</key>
			<string>THRD3_DevUART</string>
		</dict>
		<dict>
			<key>BAUD_RATE</key>
			<real>115200</real>
			<key>CLASSNAME</key>
			<string>Device</string>
			<key>CTL_TYPE</key>
			<string>UART</string>
			<key>FLOW_CTL</key>
			<false/>
			<key>PARITY_CTL</key>
			<false/>
			<key>PATH</key>
			<string></string>
			<key>USEDFOR</key>
			<string>THRD4_DevUART</string>
		</dict>
	</array>
	<key>FullScreenMode</key>
	<string>0</string>
	<key>MY_CB</key>
	<string>-1</string>
	<key>PRODUCT</key>
	<string>project name</string>
	<key>STATION_NAME</key>
	<string>QT</string>
	<key>TESTS</key>
	<dict>
		<key>TEST1</key>
		<dict>
			<key>name</key>
			<string>CheckPudding</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST10</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<true/>
		</dict>
		<key>TEST11</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST12</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST13</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST14</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST15</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST16</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST17</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST18</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST19</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST2</key>
		<dict>
			<key>name</key>
			<string>EnterDiag</string>
			<key>skip</key>
			<true/>
		</dict>
		<key>TEST20</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST21</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST22</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST23</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST24</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST25</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST26</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST27</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST28</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST29</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST3</key>
		<dict>
			<key>name</key>
			<string>RTC_Set</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST30</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST31</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST32</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST33</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST34</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST35</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST36</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST37</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST38</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST39</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST4</key>
		<dict>
			<key>name</key>
			<string>CheckControlBit</string>
		</dict>
		<key>TEST40</key>
		<dict>
			<key>name</key>
			<string>SetCB</string>
			<key>skip</key>
			<true/>
		</dict>
		<key>TEST41</key>
		<dict>
			<key>name</key>
			<string>finishWorkHandler</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST5</key>
		<dict>
			<key>name</key>
			<string>SetCB_I</string>
		</dict>
		<key>TEST6</key>
		<dict>
			<key>name</key>
			<string>EquipLogDemo</string>
		</dict>
		<key>TEST7</key>
		<dict>
			<key>command</key>
			<string>foodpanda</string>
			<key>max</key>
			<integer>3</integer>
			<key>min</key>
			<real>0.001</real>
			<key>name</key>
			<string>DEMO</string>
			<key>skip</key>
			<false/>
			<key>unit</key>
			<string>dB</string>
			<key>validator</key>
			<string>good</string>
		</dict>
		<key>TEST8</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<true/>
		</dict>
		<key>TEST9</key>
		<dict>
			<key>name</key>
			<string>Test</string>
			<key>skip</key>
			<true/>
		</dict>
	</dict>
	<key>TEST_UPPER_LIMIT</key>
	<real>30000</real>
	<key>UOP_PASSWORD</key>
	<string>12345</string>
</dict>
</plist>
