<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALLOW_AUDIT_MODE</key>
	<true/>
	<key>ALLOW_PREFERENCES</key>
	<true/>
	<key>ALLOW_PUDDING</key>
	<false/>
	<key>FullScreenMode</key>
	<string>0</string>
	<key>EQUIPMENTS</key>
	<array>
		<dict>
			<key>BAUD_RATE</key>
			<real>9600</real>
			<key>CLASSNAME</key>
			<string>Fixture</string>
			<key>CTL_TYPE</key>
			<string>UART</string>
			<key>FLOW_CTL</key>
			<false/>
			<key>PARITY_CTL</key>
			<false/>
			<key>PATH</key>
			<string></string>
			<key>USEDFOR</key>
			<string>fixture</string>
		</dict>
		<dict>
			<key>BAUD_RATE</key>
			<real>115200</real>
			<key>CLASSNAME</key>
			<string>Device</string>
			<key>CTL_TYPE</key>
			<string>UART</string>
			<key>FLOW_CTL</key>
			<false/>
			<key>PARITY_CTL</key>
			<false/>
			<key>PATH</key>
			<string></string>
			<key>USEDFOR</key>
			<string>THRD1_DevUART</string>
		</dict>
		<dict>
			<key>BAUD_RATE</key>
			<real>115200</real>
			<key>CLASSNAME</key>
			<string>Device</string>
			<key>CTL_TYPE</key>
			<string>UART</string>
			<key>FLOW_CTL</key>
			<false/>
			<key>PARITY_CTL</key>
			<false/>
			<key>PATH</key>
			<string></string>
			<key>USEDFOR</key>
			<string>THRD2_DevUART</string>
		</dict>
		<dict>
			<key>BAUD_RATE</key>
			<real>115200</real>
			<key>CLASSNAME</key>
			<string>Device</string>
			<key>CTL_TYPE</key>
			<string>UART</string>
			<key>FLOW_CTL</key>
			<false/>
			<key>PARITY_CTL</key>
			<false/>
			<key>PATH</key>
			<string></string>
			<key>USEDFOR</key>
			<string>THRD3_DevUART</string>
		</dict>
		<dict>
			<key>BAUD_RATE</key>
			<real>115200</real>
			<key>CLASSNAME</key>
			<string>Device</string>
			<key>CTL_TYPE</key>
			<string>UART</string>
			<key>FLOW_CTL</key>
			<false/>
			<key>PARITY_CTL</key>
			<false/>
			<key>PATH</key>
			<string></string>
			<key>USEDFOR</key>
			<string>THRD4_DevUART</string>
		</dict>
	</array>
	<key>MY_CB</key>
	<string>-1</string>
	<key>PRODUCT</key>
	<string>project name</string>
	<key>STATION_NAME</key>
	<string>QT</string>
	<key>TESTS</key>
	<dict>
		<key>TEST1</key>
		<dict>
			<key>name</key>
			<string>CheckPudding</string>
			<key>skip</key>
			<false/>
		</dict>
		<key>TEST2</key>
		<dict>
			<key>name</key>
			<string>EnterDiag</string>
			<key>skip</key>
			<true/>
		</dict>
		<key>TEST3</key>
		<dict>
			<key>name</key>
			<string>RTC_Set</string>
			<key>skip</key>
			<true/>
		</dict>
		<key>TEST4</key>
		<dict>
			<key>name</key>
			<string>CheckControlBit</string>
		</dict>
		<key>TEST5</key>
		<dict>
			<key>name</key>
			<string>SetCB_I</string>
		</dict>
		<key>TEST6</key>
		<dict>
			<key>command</key>
			<string>passthrough</string>
			<key>max</key>
			<real>0.5</real>
			<key>min</key>
			<real>0.1</real>
			<key>name</key>
			<string>DEMO</string>
			<key>skip</key>
			<false/>
			<key>unit</key>
			<string>v</string>
			<key>validator</key>
			<string>confirm</string>
		</dict>
		<key>TEST7</key>
		<dict>
			<key>name</key>
			<string>SetCB</string>
			<key>skip</key>
			<true/>
		</dict>
		<key>TEST8</key>
		<dict>
			<key>name</key>
			<string>finishWorkHandler</string>
			<key>skip</key>
			<false/>
		</dict>
	</dict>
	<key>TEST_UPPER_LIMIT</key>
	<real>30000</real>
	<key>UOP_PASSWORD</key>
	<string>12345</string>
</dict>
</plist>
